* {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  user-select: none;
}

body {
  display: grid;
  grid-template: calc(50vh - 265px) 530px calc(50vh - 265px) / calc(50vw - 384px) 768px calc(50vw - 384px);
}

ul li {
  list-style-type: none;
}

.bg-top {
  grid-area: 1 / 1 / 1 / 4;
  background-image: url("../img/bg-top.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-bottom {
  grid-area: 3 / 1 / 3 / 4;
  background-image: url("../img/bg-bottom.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper {
  width: calc(100% - 30px);
  max-width: 768px;
  min-height: 500px;
  max-height: 680px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px double skyblue;
  background-color: #87ceeb04;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  grid-area: 2 / 2 / 3 / 3;
}

#exercise.end-game {
  grid-template-rows: auto minmax(auto, 100%) 1fr;
  padding-top: 1rem;
}

#exercise {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 33% 67%;
}

h1 {
  text-align: center;
  font-size: 32px;
}

.description {
  line-height: 30px;
  padding: 0 1rem;
  margin: 1rem auto;
  opacity: 0.8;
  border-left: 4px double gray;
  font-size: 0.9rem;
  text-align: justify;
  transition-duration: 0.5s;
  transition-property: border, padding-left, padding-top, background-color;
}

.description.init-css {
  border: 1px solid skyblue;
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 40px;
  background-color: #87ceeb1c;
}

.dynamic-block {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  transition-duration: 0.5s;
}

.tick {
  display: inline-block;
  padding: 2px 5px;
  background-color: #ed143d05;
  border: 1px solid crimson;
  color: crimson;
  border-radius: 5px;
  line-height: 1rem;
  font-size: 0.8rem;
}

#answers {
  flex-grow: 1;
  display: grid !important;
  grid-template-rows: 50% 50%;
  margin-bottom: 0;
}

#title .number {
  min-width: 30px;
  display: inline-block;
}

#title {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.option {
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.option:hover div:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: calc(50% + 19px);
  background: skyblue;
  left: 19px;
}

.option div {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.answer-content:first-letter {
  text-transform: uppercase;
}

.option .answer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid transparent;
  margin-right: -0.3rem;
  transition-duration: 0.3s;
}

.option .answer-content {
  padding: 0.25rem 10px 0.25rem 0;
  transition-duration: 0.2s;
}

.option:hover .answer-content {
  padding-right: 0;
  padding-left: 10px;
}

.option:hover .answer {
  border: 4px double skyblue;
  background-color: #87ceeb24;
}

.option .answer:before {
  content: '';
  width: 0%;
  height: 1px;
  position: absolute;
  background-color: skyblue;
  left: 19px;
  bottom: 0;
  transition-duration: 0.1s;
}

.option:hover .answer:before {
  transition-duration: 0.3s;
  width: 100%;
}


.option .answer {
  padding: 5px;
}

.section-title {
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.3em;
}

.result-title {
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.tick-text {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  color: skyblue;
}

.characteristic-number {
  min-width: 50px;
  color: skyblue;
  display: inline-block;
  font-weight: bold;
}

.result-list {
  display: grid;
  text-indent: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

#exercise .result-characteristic {
  font-weight: 500;
  margin: 0;
  font-size: 1.2rem;
  padding: 1rem !important;
  border: 1px solid skyblue;
  background: #87ceeb1c;
}

/*////////////////////*/
.tag {
  text-transform: uppercase;
  position: relative;
  line-height: 2em;
  padding: 0 1em;
  display: inline-block;
  border-radius: 4px;
}

.tag-colored {
  background-color: skyblue;
  color: #fff;
}

.tag:before,
.tag:after {
  content: "";
  height: 2px;
  width: 1000px;
  position: absolute;
  top: 50%;
  display: block;
}

.tag-colored:before,
.tag-colored:after {
  background-color: skyblue;
}

.tag:before {
  left: -1000px;
}

.tag:after {
  right: -1000px;
}

#start {

}

.btn-style {
  color: white;
  font-weight: 500;
  background-color: #87ceeb;
  cursor: pointer;
  font-size: 16px;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(135, 206, 235, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  text-align: center;
}

.btn-style:hover {
  border: 1px solid skyblue;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.8);
  outline-color: rgba(135, 206, 235, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}


@media (max-width: 768px) {
  body {
    grid-template: calc(50vh - 200px) 400px calc(50vh - 200px) / 1fr;
    font-size: 14px;
  }

  .wrapper {
    grid-area: 2/1/3/2;
    padding: 1rem;
    min-height: 400px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .option .answer {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border: 4px double skyblue;
    background-color: #87ceeb24;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .option:hover div:before {
    top: calc(50% + 14px);
    left: 15px;
  }

  .option .answer:before {
    left: 16px;
  }

  .description {
    margin: 0.5rem auto;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 12px;
  }

  #exercise {
    padding-top: 0rem !important;
  }

  #title {
    padding-top: 0;
  }

  .wrapper {
    width: 100%;
    padding: 0.5rem;
  }

  .description:not(.init-css) {
    display: none !important;
  }

  h1 {
    font-size: 1.05rem;
  }

  h1.tag-colored {

  }

  .result-list {
    grid-template-columns: 1fr;
    padding: 0.5rem 0;
  }

  .characteristic {
    margin-bottom: 0rem;
  }

  .result-characteristic, .result-title, #title {
    font-size: 1rem !important;
    padding: 0 !important;
  }

  .tag-colored {
    width: 100%;
    height: 2rem;
  }

  .btn-style {
    height: 2rem;
    line-height: 2rem;
  }

  .description {
    padding: 0.5rem !important;
    margin: 0.5rem auto;
    font-size: 0.9rem !important;
    line-height: 1.6rem !important;
  }

  #exercise .result-characteristic {
    padding: 0.25rem 0.5rem !important;
  }

  .result-characteristic a {
    text-decoration: underline;
  }
  #title .number {
    min-width: 24px;
  }
}
